.ModalBody {
  background-color: rgba(49, 49, 49, 0.67);
  overflow: hidden;
  animation: animate-enter;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  visibility: hidden;

  @keyframes animate-enter {
    from {
      visibility: visible;
      transform: translate3d(100vw, -30vh, 0px);
    }
    to {
      visibility: visible;
      transform: translate3d(0px, 0px, 0px);
    }
  }
}

