.BasicPaginator {
  height: 30px;
  margin-top: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #ababab;
  font-family: "Lato", sans-serif;
  &__startGroup, &__leftGroup, &__rightGroup, &__endGroup {
    span {
      padding: 0 2px;
      cursor: pointer;
    }
  }
  &__currentPage {
    font-size: 20px;
    padding: 0 5px;
    color: #e4e4e4;
  }
  &__startGroup--full:after, &__rightGroup--full:after {
    content: '...';
    padding: 7px;
  }
  &__leftArrow, &__rightArrow {
    $size: 22px;
    $basic: #444040;
    $hover: #827d7d;
    width: $size;
    height: $size;
    margin: 0 5px;
    svg {
      fill: $basic;
      transition: fill .2s linear, transform .2s linear;
    }
    &:hover svg {
      fill: $hover;
    }
    &:active svg {
      transform: scale(1.1);
    }
  }
}