.ApplicationHeader {
  background-color: #131313;
  padding: 4px 0;
  $size: 15px;
  * {
    -webkit-app-region: drag;
  }
  & > div {
    display: flex;
    flex-direction: row;
    & > div {
      display: flex;
      flex-direction: row;
      margin-left: 8px;
      justify-content: center;
    }
  }

  &__close, &__minimize, &__maximize {
    width: $size;
    height: $size;
    padding: 3px 5px;
    svg {
      fill: rgba(107, 107, 107, 0.81);
      width: 100%;
      height: 100%;
      -webkit-app-region: no-drag;
    }
  }
  &__minimize:hover {
    svg {
      fill: #fffe7c;
    }
  }
  &__maximize:hover {
    svg {
      fill: #6cb352;
    }
  }
  &__close:hover {
    svg {
      fill: #e83c3c;
    }
  }
}