.PostListItem {
  flex-basis: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  &__photoPreview {
    width: 100%;
    transition: transform 0.15s linear;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}