.PostList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .ScrollBar__area div:first-child {
    flex-wrap: wrap;
    flex-direction: row !important;
  }
  &__loaderScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    svg {
      margin-top: 30%;
      width: 45px !important;
      height: 45px !important;
    }
  }
}