.UserPresentation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  &__avatar {
    padding-right: 10px;
    img {
      height:25px;
      border-radius: 50%;
    }
  }
  &__userName {
    text-transform: capitalize;
    padding-bottom: 4px;
  }
}


